.biggy-autocomplete-wrapper {
  width: 50vw;
}

.biggy-autocomplete {
  position: absolute;
  transition: opacity 0.15s ease-in 0.05s, max-height 0.3s ease-out,
    padding 0.6s ease-out;
  padding: 20px 0 10px 0;
  max-height: 630px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
  background: #fff;
  overflow: auto;
  display: flex;
}

.close-btn {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  outline: none;
}

.history-and-top-wrapper {
  display: flex;
  flex: 1;
}

.biggy-js-container--hidden {
  opacity: 0;
  max-height: 0 !important;
  padding: 0;
}
